@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome</h2>
<iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiZDBmM2U1NGMtYzhhNC00NTc5LTkwOGMtNzg1OGQyZGQ2YWMxIiwidCI6IjA1OTFiYTFmLTc2NzEtNGUwMy05YjJmLWIxODAwYTI4YTRmZiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe><ul>
    @for (int i = 0; i < ViewBag.NumTimes; i++)
    {
        <li>@ViewBag.Message</li>
    }
</ul>
