@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <div class="inner">
        <iframe width="1000" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiZTBmN2MzNmUtNTIzYS00Yjg2LWEzY2EtZjQ1ZjFhYzA1MzY3IiwidCI6IjA1OTFiYTFmLTc2NzEtNGUwMy05YjJmLWIxODAwYTI4YTRmZiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>

    </div>

</div>