@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <div class="inner">
        <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiNWFmYTUxMjItNWFlMC00ZmU5LTliOTYtZWY2ZWU5MjQ3ODM5IiwidCI6IjA1OTFiYTFmLTc2NzEtNGUwMy05YjJmLWIxODAwYTI4YTRmZiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
    </div>

</div>