@{
    ViewBag.Title = "Home Page";
}

<h1>Norkart Sommerprosjekt 2016</h1>
Data fra sensorer på Norkart kontoret i Lillehammer. Hentet fra Power BI. Les mer om prosjektet på bloggen vår <a href="https://www.norkart.no/junior-utviklere-pa-sommerprosjekt-i-hjemtraktene/">her</a>.

    <div class="jumbotron">  
            
        <div class="inner">         
            <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiOTZlMDk4MjctM2VjYi00YjU3LWExMmUtODVlYTc2ZTVhNGFlIiwidCI6IjA1OTFiYTFmLTc2NzEtNGUwMy05YjJmLWIxODAwYTI4YTRmZiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
        </div>

    </div>
